<div *ngIf="dynamicStocks$ | async as stockInfo">
    <plotly-plot
    [style]="{position: 'relative', width: '100%', height: '100%'}"
        [data]="[stockInfo]"
        [layout]="graph1.layout"
        [useResizeHandler]="true"
        (hover)="hover($event)"
        (redraw)="chartChanged"
        (plotlyClick)="hover($event)"
        (mouseleave)="mouseLeave($event)"></plotly-plot>
</div>
    <plotly-plot
       [data]="(interactivePlotSubject$ | async)"
       [layout]="graph2.layout"
       [useResizeHandler]="true"></plotly-plot>