<div class="container">
<section>
    <div class="row">
      <div cdkDropList #leftList="cdkDropList"  [cdkDropListData]="left" [cdkDropListConnectedTo]="rightList"
           (cdkDropListDropped)="drop($event)" class="col-lg-3 col-md-12 mb-4 order-2 order-lg-1 order-xl-1">

  <app-news></app-news>
        <div *ngFor="let item of left" class="card" cdkDrag>
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-success">{{item.number}}</h3>
                <p class="mb-0">{{item.text}}</p>
              </div>
              <div class="align-self-center">
                <i class="{{item.icon}}"></i>
              </div>
            </div>
            <div class="px-md-1" *ngIf="item.hasOwnProperty('progress')">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                     class="progress-bar bg-success"
                     role="progressbar"
                     style="width: 60%"
                     aria-valuenow="60"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 order-1 order-lg-2 order-xl-2">
        <div class="card">
          <div class="card-body">
            <app-chart></app-chart>
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="far fa-comment-alt text-warning fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>156</h3>
                <p class="mb-0">New Comments</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-warning">64.89 %</h3>
                  <p class="mb-0">Conversion Rate</p>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-chart-pie text-warning fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div cdkDropList #rightList="cdkDropList"   [cdkDropListData]="right" [cdkDropListConnectedTo]="leftList"
           (cdkDropListDropped)="drop($event)" class="col-lg-3 col-md-12 mb-4 order-3">

  <app-company-info></app-company-info>
        <div *ngFor="let item of right" class="card" cdkDrag>
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-success">{{item.number}}</h3>
                <p class="mb-0">{{item.text}}</p>
              </div>
              <div class="align-self-center">
                <i class="{{item.icon}}"></i>
              </div>
            </div>
            <div class="px-md-1" *ngIf="item.hasOwnProperty('progress')">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                     class="{{item.progress?.class}}"
                     role="progressbar"
                     style="width: {{item.progress?.width}}%"
                     aria-valuenow="60"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>