<div class="container">
<section>
    <div class="row">
      <div cdkDropList #leftSide="cdkDropList"  [cdkDropListData]="leftBar" [cdkDropListConnectedTo]="rightSide"
           (cdkDropListDropped)="drop($event)" class="col-lg-3 col-md-12 mb-4 order-2 order-lg-1 order-xl-1">
           <div *ngFor="let item of leftBar" class="card" cdkDrag>
            <app-news *ngIf="item===1"></app-news>
            <app-company-info *ngIf="item===2"></app-company-info>
             </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 order-1 order-lg-2 order-xl-2">
        <div class="card">
          <div class="card-body">
            <app-chart></app-chart>
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="far fa-comment-alt text-warning fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>156</h3>
                <p class="mb-0">New Comments</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-warning">64.89 %</h3>
                  <p class="mb-0">Conversion Rate</p>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-chart-pie text-warning fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div cdkDropList #rightSide="cdkDropList"  [cdkDropListData]="rightBar" [cdkDropListConnectedTo]="leftSide"
           (cdkDropListDropped)="drop($event)" class="col-lg-3 col-md-12 mb-4 order-3">
           <div *ngFor="let item of rightBar" class="card" cdkDrag>
            <app-news *ngIf="item===1"></app-news>
            <app-company-info *ngIf="item===2"></app-company-info>
             </div>
      </div>


    </div>
  </section>
</div>