$orange: #f96332;

.favorites .card-body, .favorites .card-header{
  background-color: $orange;
  color: #fff;
}
.favorites{
  margin-bottom: 20px;
}
.favorites img {
  filter: brightness(0) invert(1);
  height: 30px;
  cursor: pointer;
}

span.badge.rounded-pill.bg-dark {
  padding: 5px 6px;
}