<div class="card comparisons">
  <div class="card-header">
    Stock Detail
  </div>
    <div class="card-body">
      <app-line-chart [chartData]="chartData" ></app-line-chart>
    </div>
    <div class="card-footer">
          <ul>
              <li *ngFor='let stock of stocksToCompare; let i = index'>
                  <span >{{ stock.symbol }} {{ stock.close[stock.close.length-1] }}</span>
                  <span (click) = "deleteStock(i)">X</span>
              </li>
          </ul>
          
          <div class="compare-search">
            <mat-form-field class="no-bottom" >
                <mat-label>Stock Search</mat-label>
                <input #inputSearch matInput type="text" placeholder="Add Stock" [(ngModel)]="query">
              </mat-form-field>
              <div *ngIf='query' class='search-result drop-doown'>
                <table>
                  <tr class="item" *ngFor='let symbol of symbols | searchFilter: query' (click)="onSelectStock(symbol); inputSearch.value=''">
                    <td>{{ symbol }}</td>
                  </tr>
                </table>
              </div>

          </div>
    </div>
</div>
